/* some style */
.clearbutton {background: black;
              color: white;
              border: 0px;
              display: inline;}
.submitbutton {background: blue;
               color: white;
               border: 0px;}
.borderedlistitem {border: 2px solid;}
.clickedlistbuttonitem {:background: black;color: green; border: 1px solid;}
.listbuttonitem {:background white; color:black;}

.globaltasklist {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.tasktree {
   margin-left: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

.greenbutton {
  border-style: none;
  margin-top: 12px;
  background: green;
  color: white;
}

.editbutton {
  font-weight: bold;
  margin-left: 5px;
}

.addbutton {
  margin-left: 5px;
  margin-left: 5px;
  background : green;
  color: white;
  padding: 2px;
  font-weight :bold;
}

.removebutton {
  margin-left: 5px;
  margin-right: 5px;
  background: red;
  color : white;
  padding : 2px;
  font-weight : bold;
}
